@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter";
    font-size: 1.4rem;
    user-select: none;
}

*{
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    padding: 0 1rem;
}

li {
    /* margin: 0.1rem 0; */
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

li:hover{
    background: rgb(255, 118, 118);
}

li:active{
    background: red;
}

li:fullscreen{
    background: red;
}